<header class="header">
  <div class="header-left">
    <a href="#" class="logo" (click)="$event.preventDefault()">
      <div class="logo-icon">P</div>
      <span class="logo-text">PixelCraft</span>
    </a>
    
    <nav class="nav-buttons">
      <button 
        *ngFor="let item of navItems" 
        class="nav-btn"
        [class.primary]="item.primary"
        (click)="onNavAction(item.action)">
        <span class="icon">{{ item.icon }}</span>
        {{ item.label }}
      </button>
    </nav>
  </div>
  
  <div class="header-right">
    <div class="utility-buttons">
      <button 
        *ngFor="let btn of utilityButtons" 
        class="util-btn"
        [title]="btn.tooltip"
        (click)="onUtilityAction(btn.action)">
        <span class="icon">{{ btn.icon }}</span>
      </button>
    </div>
    
    <div class="zoom-control">
      <button class="zoom-btn" (click)="adjustZoom(-10)">-</button>
      <span class="zoom-display">
        <span class="icon">🔍</span>
        {{ zoomLevel }}%
      </span>
      <button class="zoom-btn" (click)="adjustZoom(10)">+</button>
    </div>
    
    <button 
      class="mobile-menu" 
      (click)="toggleMobileMenu()"
      [class.active]="isMobileMenuOpen">
      <span class="icon">☰</span>
    </button>
  </div>
  
  <div 
    class="mobile-dropdown" 
    [class.active]="isMobileMenuOpen">
    <button 
      *ngFor="let item of navItems" 
      class="nav-btn"
      [class.primary]="item.primary"
      (click)="onNavAction(item.action)">
      <span class="icon">{{ item.icon }}</span>
      {{ item.label }}
    </button>
  </div>
</header>